In [2]:
import pandas as pd

In [3]:
nba_frame = pd.read_csv('Resources/NBA Season Data.csv')
nba_measures = nba_frame[['Player', 'Year', 'Height', 'Weight', 'Age']]
nba_measures_clean = nba_measures.dropna(axis = 0, how = 'any')

nba_measures_clean

                   Player  Year  Height  Weight  Age
0          Truck Robinson  1978    79.0   225.0   26
1             Randy Smith  1978    75.0   180.0   29
2             Elvin Hayes  1978    81.0   235.0   32
3             Dave Cowens  1978    81.0   230.0   29
4              Bob McAdoo  1978    81.0   210.0   26
...                   ...   ...     ...     ...  ...
17258      Walter Tavares  2016    87.0   260.0   23
17259  Shayne Whittington  2016    83.0   250.0   24
17260        Solomon Hill  2016    79.0   225.0   24
17261         Jeff Withey  2016    84.0   231.0   25
17262   Cristiano Felicio  2016    82.0   275.0   23

[17261 rows x 5 columns]

In [9]:
#clone base dataset
nba_eras = nba_measures_clean

#create bins column in the cloned dataset, leaving the orginal intact
nba_eras['Year_Bins'] = pd.cut(x = nba_measures_clean['Year'],
                                    bins = [0, 1989, 1999, 2009, 2016],
                                    labels = ["1980s", "1990s", "2000s", "2010s"])

nba_eras

#Do necessary calculations for all the age groups
#create dataset for each age group first, this we can use in the next question to calculate the purchase analysis
#Do the calculations on those datasets individually, for each age group

<ipython-input-9-6d3c2bdc76a6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_eras['Year_Bins'] = pd.cut(x = nba_measures_clean['Year'],

                   Player  Year  Height  Weight  Age Year_Bins
0          Truck Robinson  1978    79.0   225.0   26     1980s
1             Randy Smith  1978    75.0   180.0   29     1980s
2             Elvin Hayes  1978    81.0   235.0   32     1980s
3             Dave Cowens  1978    81.0   230.0   29     1980s
4              Bob McAdoo  1978    81.0   210.0   26     1980s
...                   ...   ...     ...     ...  ...       ...
17258      Walter Tavares  2016    87.0   260.0   23     2010s
17259  Shayne Whittington  2016    83.0   250.0   24     2010s
17260        Solomon Hill  2016    79.0   225.0   24     2010s
17261         Jeff Withey  2016    84.0   231.0   25     2010s
17262   Cristiano Felicio  2016    82.0   275.0   23     2010s

[17261 rows x 6 columns]

In [12]:
nba_eras.to_csv(r'resources\NBA_Eras.csv', index = False)