## Build team wins file

In [1]:
# dependencies
import pandas as pd

In [2]:
# consuming data file with years from 2014 and 2018
teamWins_df = pd.read_csv('Resources/winloss_by_teams.csv')

### Data Cleansing and Checks

In [3]:
# check all columns and names
teamWins_df.columns

Index(['TeamName', 'League', 'Season', 'Division', 'Franchise', 'Team', 'W',
       'L', '%'],
      dtype='object')

In [4]:
# cleaning up the dataset
removed1 = teamWins_df.replace({'NBA':''}, regex=True)
replace1 = removed1.replace({'BRO':'BRK'}, regex=True)
replace2 = replace1.replace({'CHA':'CHO'}, regex=True)
replace3 = replace2.replace({'OCT':'OKC'}, regex=True)

In [5]:
teamWins_df_clean = replace3.loc[(replace3['Season'] >= '(2014-15)') & (replace3['Season'] <= '(2018-19)'),:]
teamWins_df_clean.head()

,TeamName,League,Season,Division,Franchise,Team,W,L,%
1364,Toronto Raptors,,(2014-15),Atlantic Division,Toronto Raptors,TOR,49,33,59.80%
1365,Boston Celtics,,(2014-15),Atlantic Division,Boston Celtics,BOS,40,42,48.80%
1366,Brooklyn Nets,,(2014-15),Atlantic Division,Brooklyn Nets,BRK,38,44,46.30%
1367,Philadelphia 76ers,,(2014-15),Atlantic Division,Philadelphia 76ers,PHI,18,64,22.00%
1368,New York Knicks,,(2014-15),Atlantic Division,New York Knicks,NYK,17,65,20.70%

In [8]:
# convert season format to year column
teamWins_df_clean['Year'] = teamWins_df_clean['Season'].str[1:5]

<ipython-input-8-ae5bd717bdfb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teamWins_df_clean['Year'] = teamWins_df_clean['Season'].str[1:5]

In [9]:
# checking data counts
teamWins_df_clean.count()

TeamName     150
League       150
Season       150
Division     150
Franchise    150
Team         150
W            150
L            150
%            150
Year         150
dtype: int64

In [11]:
# check NaN values before replacing it with 0
teamWins_df_clean.isnull().values.any()

False

In [12]:
# saving output
teamWins_df_clean.to_csv("output/team_wins.csv", encoding="utf-8", index=False, header=True)