## Build team wins file

In [1]:
# dependencies
import pandas as pd

In [2]:
# consuming data file with years from 2014 and 2018
tradStats_df = pd.read_csv('Resources/winloss_by_teams.csv')
tradStats_df.head()

,TeamName,League,Season,Division,Franchise,Team,W,L,%
0,NBAWashington Capitols,NBA,(1946-47),Eastern Division,Washington Capitols,WAS,49,11,81.70%
1,NBAGolden State Warriors,NBA,(1946-47),Eastern Division,Golden State Warriors,PHI,35,25,58.30%
2,NBANew York Knicks,NBA,(1946-47),Eastern Division,New York Knicks,NYK,33,27,55.00%
3,NBAProvidence Steam Rollers,NBA,(1946-47),Eastern Division,Providence Steam Rollers,PRO,28,32,46.70%
4,NBABoston Celtics,NBA,(1946-47),Eastern Division,Boston Celtics,BOS,22,38,36.70%

### Data Cleansing and Checks

In [3]:
# check all columns and names
tradStats_df.columns

Index(['TeamName', 'League', 'Season', 'Division', 'Franchise', 'Team', 'W',
       'L', '%'],
      dtype='object')

In [4]:
removed1 = tradStats_df.replace({'NBA':''}, regex=True)
replace1 = removed1.replace({'BRO':'BRK'}, regex=True)
replace2 = replace1.replace({'CHA':'CHO'}, regex=True)
replace3 = replace2.replace({'OCT':'OKC'}, regex=True)

In [5]:
tradStats_clean = replace3.loc[(replace3['Season'] >= '(2014-15)') & (replace3['Season'] <= '(2018-19)'),:]
tradStats_clean.head()

,TeamName,League,Season,Division,Franchise,Team,W,L,%
1364,Toronto Raptors,,(2014-15),Atlantic Division,Toronto Raptors,TOR,49,33,59.80%
1365,Boston Celtics,,(2014-15),Atlantic Division,Boston Celtics,BOS,40,42,48.80%
1366,Brooklyn Nets,,(2014-15),Atlantic Division,Brooklyn Nets,BRK,38,44,46.30%
1367,Philadelphia 76ers,,(2014-15),Atlantic Division,Philadelphia 76ers,PHI,18,64,22.00%
1368,New York Knicks,,(2014-15),Atlantic Division,New York Knicks,NYK,17,65,20.70%

In [6]:
tradStats_clean['Year'] = tradStats_clean['Season'].str[1:5]
tradStats_clean

<ipython-input-6-023146c23fe9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tradStats_clean['Year'] = tradStats_clean['Season'].str[1:5]

,TeamName,League,Season,Division,Franchise,Team,W,L,%,Year
1364,Toronto Raptors,,(2014-15),Atlantic Division,Toronto Raptors,TOR,49,33,59.80%,2014
1365,Boston Celtics,,(2014-15),Atlantic Division,Boston Celtics,BOS,40,42,48.80%,2014
1366,Brooklyn Nets,,(2014-15),Atlantic Division,Brooklyn Nets,BRK,38,44,46.30%,2014
1367,Philadelphia 76ers,,(2014-15),Atlantic Division,Philadelphia 76ers,PHI,18,64,22.00%,2014
1368,New York Knicks,,(2014-15),Atlantic Division,New York Knicks,NYK,17,65,20.70%,2014
...,...,...,...,...,...,...,...,...,...,...
1509,Houston Rockets,,(2018-19),Southwest Division,Houston Rockets,HOU,53,29,64.60%,2018
1510,San Antonio Spurs,,(2018-19),Southwest Division,San Antonio Spurs,SAS,48,34,58.50%,2018
1511,Memphis Grizzlies,,(2018-19),Southwest Division,Memphis Grizzlies,MEM,33,49,40.20%,2018
1512,New Orleans Pelicans,,(2018-19),Southwest Division,New Orleans Pelicans,NOP,33,49,40.20%,2018
1513,Dallas Mavericks,,(2018-19),Southwest Division,Dallas Mavericks,DAL,33,49,40.20%,2018

In [7]:
# checking data counts
tradStats_clean.count()

TeamName     150
League       150
Season       150
Division     150
Franchise    150
Team         150
W            150
L            150
%            150
Year         150
dtype: int64

In [8]:
# check NaN values before replacing it with 0
tradStats_clean.isnull().values.any()

False

In [9]:
#tradStats_clean.reset_index(drop=True)

In [10]:
# saving output
tradStats_clean.to_csv("output/team_wins.csv", encoding="utf-8", index=False, header=True)