#### Which traditional stat is most important?
* Data Needed: Player name, points, assists, rebounds, FG%, team margin

* Find correlation between winning and an imputed stats (points, assists, rebounds, FG%).
  Scatter Plot

In [1]:
# dependencies
import requests
import json
import os
import pandas as pd
import numpy as np

In [2]:
# consuming data file with years from 2014 and 2018
filepath = os.path.join('nba.games.stats.csv')

tradStats_df = pd.read_csv(filepath)
tradStats_df.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,2014-10-29,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,2014-11-01,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,2014-11-05,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,2014-11-07,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,2014-11-08,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29

### Data Cleansing and Checks

In [3]:
# check all columns and names
tradStats_df.columns

Index(['Unnamed: 0', 'Team', 'Game', 'Date', 'Home', 'Opponent', 'WINorLOSS',
       'TeamPoints', 'OpponentPoints', 'FieldGoals', 'FieldGoalsAttempted',
       'FieldGoals.', 'X3PointShots', 'X3PointShotsAttempted', 'X3PointShots.',
       'FreeThrows', 'FreeThrowsAttempted', 'FreeThrows.', 'OffRebounds',
       'TotalRebounds', 'Assists', 'Steals', 'Blocks', 'Turnovers',
       'TotalFouls', 'Opp.FieldGoals', 'Opp.FieldGoalsAttempted',
       'Opp.FieldGoals.', 'Opp.3PointShots', 'Opp.3PointShotsAttempted',
       'Opp.3PointShots.', 'Opp.FreeThrows', 'Opp.FreeThrowsAttempted',
       'Opp.FreeThrows.', 'Opp.OffRebounds', 'Opp.TotalRebounds',
       'Opp.Assists', 'Opp.Steals', 'Opp.Blocks', 'Opp.Turnovers',
       'Opp.TotalFouls'],
      dtype='object')

In [4]:
tradStats_df['Year'] = tradStats_df['Date'].str[:4]
tradStats_df

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls,Year
0,1,ATL,1,2014-10-29,Away,TOR,L,102,109,40,...,33,0.818,16,48,26,13,9,9,22,2014
1,2,ATL,2,2014-11-01,Home,IND,W,102,92,35,...,21,0.857,11,44,25,5,5,18,26,2014
2,3,ATL,3,2014-11-05,Away,SAS,L,92,94,38,...,38,0.711,11,50,25,7,9,19,15,2014
3,4,ATL,4,2014-11-07,Away,CHO,L,119,122,43,...,27,0.741,11,51,31,6,7,19,30,2014
4,5,ATL,5,2014-11-08,Home,NYK,W,103,96,33,...,11,0.727,13,44,26,2,6,15,29,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,78119,WAS,78,2018-04-03,Away,HOU,L,104,120,38,...,27,0.667,10,46,26,13,3,9,14,2018
9836,79119,WAS,79,2018-04-05,Away,CLE,L,115,119,47,...,28,0.786,5,35,26,10,3,16,14,2018
9837,80119,WAS,80,2018-04-06,Home,ATL,L,97,103,35,...,23,0.696,7,50,24,5,5,18,22,2018
9838,81124,WAS,81,2018-04-10,Home,BOS,W,113,101,41,...,27,0.815,13,44,22,14,1,16,18,2018
9839,82119,WAS,82,2018-04-11,Away,ORL,L,92,101,33,...,27,0.815,6,42,20,6,7,16,27,2018

In [5]:
# reducing the dataset fields to only ibnterested columns
reduced_df = tradStats_df.loc[:, ['Year','Team', 'WINorLOSS','TeamPoints','Assists','FieldGoals', 'TotalRebounds']].reset_index()
reduced_df

,index,Year,Team,WINorLOSS,TeamPoints,Assists,FieldGoals,TotalRebounds
0,0,2014,ATL,L,102,26,40,42
1,1,2014,ATL,W,102,26,35,37
2,2,2014,ATL,L,92,26,38,37
3,3,2014,ATL,L,119,28,43,38
4,4,2014,ATL,W,103,18,33,41
...,...,...,...,...,...,...,...,...
9835,9835,2018,WAS,L,104,25,38,36
9836,9836,2018,WAS,L,115,34,47,41
9837,9837,2018,WAS,L,97,18,35,45
9838,9838,2018,WAS,W,113,32,41,51
9839,9839,2018,WAS,L,92,17,33,50

In [6]:
# only pick wins
WinsOnly_df = reduced_df.loc[reduced_df['WINorLOSS'] == 'W',:]
WinsOnly_df

,index,Year,Team,WINorLOSS,TeamPoints,Assists,FieldGoals,TotalRebounds
1,1,2014,ATL,W,102,26,35,37
4,4,2014,ATL,W,103,18,33,41
5,5,2014,ATL,W,91,20,27,38
6,6,2014,ATL,W,100,23,39,46
7,7,2014,ATL,W,114,33,42,36
...,...,...,...,...,...,...,...,...
9826,9826,2018,WAS,W,125,29,46,52
9827,9827,2018,WAS,W,109,29,40,38
9831,9831,2018,WAS,W,116,33,46,50
9833,9833,2018,WAS,W,107,30,40,44
9838,9838,2018,WAS,W,113,32,41,51

In [7]:
tradStats_clean = WinsOnly_df.groupby(['Team','Year','WINorLOSS'])['TeamPoints','Assists','FieldGoals', 'TotalRebounds'].sum()
tradStats_clean

<ipython-input-7-cba1b3974e86>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tradStats_clean = WinsOnly_df.groupby(['Team','Year','WINorLOSS'])['TeamPoints','Assists','FieldGoals', 'TotalRebounds'].sum()

                     TeamPoints  Assists  FieldGoals  TotalRebounds
Team Year WINorLOSS
ATL  2014 W                2360      590         859            962
     2015 W                6185     1566        2301           2392
     2016 W                4763     1200        1795           1977
     2017 W                4024      947        1498           1670
     2018 W                1468      357         552            629
...                         ...      ...         ...            ...
WAS  2014 W                2273      583         897            959
     2015 W                3973      969        1528           1702
     2016 W                4708     1123        1807           1872
     2017 W                6070     1344        2294           2416
     2018 W                2516      662         954            960

[150 rows x 4 columns]

In [8]:
# checking data counts
tradStats_clean.count()

TeamPoints       150
Assists          150
FieldGoals       150
TotalRebounds    150
dtype: int64

In [9]:
# check NaN values before replacing it with 0
tradStats_clean.isnull().values.any()

False

In [14]:
#tradStats_clean.reset_index(drop=True)

In [16]:
# saving output
tradStats_clean.to_csv("output/team_points.csv", encoding="utf-8", index=True, header=True)