## Build team points file

In [5]:
# dependencies
import pandas as pd

In [6]:
# consuming data file with years from 2014 and 2018
teamPoints_df = pd.read_csv('Resources/nba.games.stats.csv')

### Data Cleansing and Checks

In [7]:
# check all columns and names
teamPoints_df.columns

Index(['Unnamed: 0', 'Team', 'Game', 'Date', 'Home', 'Opponent', 'WINorLOSS',
       'TeamPoints', 'OpponentPoints', 'FieldGoals', 'FieldGoalsAttempted',
       'FieldGoals.', 'X3PointShots', 'X3PointShotsAttempted', 'X3PointShots.',
       'FreeThrows', 'FreeThrowsAttempted', 'FreeThrows.', 'OffRebounds',
       'TotalRebounds', 'Assists', 'Steals', 'Blocks', 'Turnovers',
       'TotalFouls', 'Opp.FieldGoals', 'Opp.FieldGoalsAttempted',
       'Opp.FieldGoals.', 'Opp.3PointShots', 'Opp.3PointShotsAttempted',
       'Opp.3PointShots.', 'Opp.FreeThrows', 'Opp.FreeThrowsAttempted',
       'Opp.FreeThrows.', 'Opp.OffRebounds', 'Opp.TotalRebounds',
       'Opp.Assists', 'Opp.Steals', 'Opp.Blocks', 'Opp.Turnovers',
       'Opp.TotalFouls'],
      dtype='object')

In [8]:
# convert dates to year column
teamPoints_df['Year'] = teamPoints_df['Date'].str[:4]

In [9]:
# reducing the dataset fields to only ibnterested columns
reduced_df = teamPoints_df.loc[:, ['Year','Team', 'WINorLOSS','TeamPoints','Assists','FieldGoals', 'TotalRebounds']].reset_index()
reduced_df

,index,Year,Team,WINorLOSS,TeamPoints,Assists,FieldGoals,TotalRebounds
0,0,2014,ATL,L,102,26,40,42
1,1,2014,ATL,W,102,26,35,37
2,2,2014,ATL,L,92,26,38,37
3,3,2014,ATL,L,119,28,43,38
4,4,2014,ATL,W,103,18,33,41
...,...,...,...,...,...,...,...,...
9835,9835,2018,WAS,L,104,25,38,36
9836,9836,2018,WAS,L,115,34,47,41
9837,9837,2018,WAS,L,97,18,35,45
9838,9838,2018,WAS,W,113,32,41,51
9839,9839,2018,WAS,L,92,17,33,50

In [11]:
# only pick wins
WinsOnly_df = reduced_df.loc[reduced_df['WINorLOSS'] == 'W',:]

In [13]:
teamPoints_df_clean = WinsOnly_df.groupby(['Team','Year','WINorLOSS'])['TeamPoints','Assists','FieldGoals', 'TotalRebounds'].sum()

<ipython-input-13-fb6ae49336be>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  teamPoints_df_clean = WinsOnly_df.groupby(['Team','Year','WINorLOSS'])['TeamPoints','Assists','FieldGoals', 'TotalRebounds'].sum()

In [14]:
# checking data counts
teamPoints_df_clean.count()

TeamPoints       150
Assists          150
FieldGoals       150
TotalRebounds    150
dtype: int64

In [15]:
# check NaN values before replacing it with 0
teamPoints_df_clean.isnull().values.any()

False

In [ ]:
# saving output
teamPoints_df_clean.to_csv("output/team_points.csv", encoding="utf-8", index=True, header=True)